<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>
        Liste des amis
    </title>
</head>
<body>
    <h2>Liste de vos amis</h2>
    <div id="friendlist">
        <img src="https://maps.googleapis.com/maps/api/staticmap?size=500x400{{markers}}&key={{apikey}}" />
        <p>{{friends}}</p>
    </div>
</body>
</html>

<script>


</script>